<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: section">
<section>
    <h2>Listado de Evaluacions</h2>
    <a th:href="@{/evaluacion/nuevo}" class="btn">Nuevo Evaluacion</a>
    <table>
        <thead>
        <tr>
            <th>idEvaluacion</th><th>tipo</th><th>nota</th><th>fecha</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="evaluacion : ${{evaluacions}}">
            <td th:text="${evaluacion.idEvaluacion}"></td>
            <td th:text="${evaluacion.tipo}"></td>
            <td th:text="${evaluacion.nota}"></td>
            <td th:text="${evaluacion.fecha}"></td>
            <td>
                <a th:href="@{'/evaluacion/ver/' + ${evaluacion.idEvaluacion}}">Ver</a> |
                <a th:href="@{'/evaluacion/editar/' + ${evaluacion.idEvaluacion}}">Editar</a> |
                <a th:href="@{'/evaluacion/eliminar/' + ${evaluacion.idEvaluacion}}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>
