<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: section">
<section>
  <h2>Listado de Cursos</h2>
  <a th:href="@{/curso/nuevo}" class="btn">Nuevo Curso</a>
  <table>
    <thead>
    <tr>
      <th>idCurso</th><th>nombre</th><th>descripcion</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curso : ${{cursos}}">
      <td th:text="${curso.idCurso}"></td>
      <td th:text="${curso.nombre}"></td>
      <td th:text="${curso.descripcion}"></td>
      <td>
        <a th:href="@{'/curso/ver/' + ${curso.idCurso}}">Ver</a> |
        <a th:href="@{'/curso/editar/' + ${curso.idCurso}}">Editar</a> |
        <a th:href="@{'/curso/eliminar/' + ${curso.idCurso}}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</html>
